<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.travels.dao.PlaceDAO">
<!--//根据省份id查景点列表  排序-->
<select id="findByProvinceIdPage" resultType="Place">
    select id,picpath,name,hottime,hotticket,dimticket,placedes,provinceid
    from t_place
    where provinceid=#{provinceId}
    order by hotticket desc
    limit #{start},#{rows}



</select>




    <!--//根据省份id查景点列表总数  -->
<select id="findByProvinceIdCounts" parameterType="String" resultType="Integer">
    select count(id) from t_place where provinceid=#{provinceId}
</select>


    <delete id="delete" parameterType="String">
        delete from t_place where id=#{id}
    </delete>


    <select id="findOne" resultType="Place">
        select * from t_place where id=#{id}
    </select>

    <insert id="save" parameterType="Place" useGeneratedKeys="true" keyProperty="id">
insert into t_place values (#{id},#{name},#{picpath},#{hottime},#{hotticket},#{dimticket},#{placedes},#{provinceid})

    </insert>

    <update id="update" parameterType="Place">
        update t_place set
            name=#{name},
            picpath=#{picpath},
            hottime=#{hottime},
            hotticket=#{hotticket},
            dimticket=#{dimticket},
            placedes=#{placedes},
            provinceid=#{provinceid}
        where id = #{id}
    </update>

</mapper>

